html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #fff;
  background-color: #08243e;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

/* Site Header */

.site-header{
  background-color: #191919;
  padding: 25px 0;
}

.site-header-content,
.site-header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease;
}

logo-link{
  display: block;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.logo-img{
  display: block;
  width: 191px;
  height: 40px;
}

.site-header-left{
  width: 630px;
}

.header-working-hours{
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
}

.header-phone-number{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}

.phone-number a{
  display: block;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.phone-number a:hover{
  color: #1669b3;
}

.phone-number a:active{
  color: #1669b3;
  opacity: 0.6;
}

.order-btn{
  display: inline-block;
  padding: 17px 29px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  background-color: #1669b3;
  background-image: linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
  text-decoration: none;
  transition: border 0.3s ease,
  opacity 0.3s ease;
}

.order-btn:hover{
  border: 1px solid #fff;
}

.order-btn:active{
  border: 1px solid #fff;
  opacity: 0.6;
}

/* Promo Section */

.promo-section{
  background-color: #08243e;
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.promo-section-content{
  width: 570px;
  padding: 100px;
  color: #000;
  background-color: #f7b516;
}

.page-heading{
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.375;
}

.page-heading span{
  display: block;
  padding-top: 48px;
  padding-bottom: 100px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: none;
}

.promo-section-info{
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.promo-section-info:last-child{
  margin-bottom: 0;
}

.promo-section-info span{
  font-size: 18px;
  line-height: 1.2;
  margin-left: 26px;
}

.piggy-bank::before{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/piggy-bank.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.delivery::before{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/delivery-truck-silhouette.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.star-symbol::before{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/star-symbol.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.medal::before{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/medal.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

/* Price Section */

.price-section{
  background-color: #08243e;
  background-image: url(../img/price-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.price-section-content{
  padding: 100px 0;
  width: 770px;
  color: #000;
  margin-left: auto;
}

.price-section-heading{
  font-size: 30px;
  line-height: 1.2;
  text-align: right;
}

.inputs-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
}

.price-order-input{
  width: 370px;
  padding: 30px;
  border: 3px solid transparent;
  background-color: #f2f2f2;
  outline: transparent;
}

.price-order-input:active,
.price-order-input:focus{
  border: 3px solid #818181;
}

.price-order-input::placeholder{
  font-size: 13px;
  color: #818181;
  text-transform: uppercase;
  line-height: 2;
}

.email-input::placeholder{
  background-image: url(../img/envelope.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.tel-input::placeholder{
  background-image: url(../img/call-answer.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.price-order-button-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-order-info{
  display: flex;
  width: 370px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.price-order-info span{
  display: inline-block;
  width: 310px;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  text-align: right;
}

.price-order-info::after{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.price-order-btn{
  width: 370px;
  display: inline-block;
  padding: 30px;
  border: 3px solid transparent;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  background-color: #1866af;
  text-align: center;
  text-transform: uppercase;
  outline: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-order-btn:active,
.price-order-btn:focus{
  border: 3px solid #1866af;
  color: #1866af;
  background-color: #fff;
}

/* Delivery Info Section */

.delivery-info{
  padding: 80px 0;
  background-color: #08243e;
}

.delivery-info-content{
  text-align: center;
}

.delivery-info-heading{
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin: 0;
  padding: 27px 0 24px 0;
}

.delivery-info-subtitle{
  width: 384px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.delivery-info-list{
  display: flex;
  justify-content: space-between;
  width: 1040px;
  padding: 0;
  margin: 0;
  margin-top: 140px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.delivery-info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.delivery-info-item p{
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.engine::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-image: url(../img/engine.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.dump-truck::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-image: url(../img/dump-truck.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.calendar::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.location::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  background-image: url(../img/location.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

/* Detail Search Section */

.detail-search{
  background-color: #08243e;
  background-image: url(../img/detail-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.detail-search-content{
  padding: 80px 0;
  text-align: center;
}

.detail-search-heading{
  font-size: 30px;
  line-height: 36px;
  padding-top: 17px;
  margin: 0;
}

.detail-search-subtitle{
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
  margin: 0;
}

.detail-price-form{
  display: flex;
  justify-content: center;
  width: 1170px;
  margin: 58px 0;
}

.detail-price-form input{
  margin-right: 30px;
}

.detail-price-order-btn{
  width: 370px;
  display: inline-block;
  padding: 30px;
  border: 3px solid transparent;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  background-color: #f7b516;
  text-align: center;
  text-transform: uppercase;
  outline: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-price-order-btn:active,
.detail-price-order-btn:focus{
  color: #f7b516;
  background-color: #fff;
  border: 3px solid #f7b516;
}

.call-us-div p{
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-bottom: 26px;
}

.call-us-div span{
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 11px;
}

.call-us-div a{
  display: block;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Quality Section */

.quality{
  padding: 80px 0;
  background-color: #fff;
  color: #000;
}

.quality-content{
  text-align: center;
}

.quality-heading{
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-top: 102px;
}

.quality-list{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 0;
  margin-top: 96px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.quality-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.quality-item span{
  margin-top: 40px;
}

.more-link{
  display: inline-block;
  max-width: 310px;
  margin-top: 35px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.more-link:hover{
  color: #f7b516;
}

.more-link:active{
  color: #000;
  opacity: 0.6;
}

.garanty::before{
  display: inline-block;
  width: 230px;
  height: 300px;
  background-image: url(../img/garanty.jpg);
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.delivery-control::before{
  display: inline-block;
  width: 230px;
  height: 300px;
  background-image: url(../img/delivery-control.jpg);
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.quality-control::before{
  display: inline-block;
  width: 230px;
  height: 300px;
  background-image: url(../img/quality-control.jpg);
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* Discounts */

.discounts{
  background-color: #08243e;
  padding: 80px 0;
}

.discounts-content{
  text-align: center;
}

.discounts-heading{
  font-size: 36px;
  line-height: 43px;
  margin-top: 0;
  margin-top: 17px;
}

.discounts-list{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: 0;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.discounts-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin-bottom: 18px;
}

.discounts-item span{
  font-size: 18px;
  line-height: 22px;
  margin-top: 38px;
}

.product-discount::before{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
  content: "10%";
}

.annual-service::before{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
  content: "20%";
}

.free-delivery::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-image: url(../img/delivery-truck.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 56px 33px;
  content: "";
}

.free-consulting::before{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-image: url(../img/telemarketer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 39px;
  content: "";
}

/* Stock Section */

.stock{
  padding: 80px 0;
  background-color: #0b3554;
}

.stock-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stock-heading{
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-top: 17px;
}

.stock-subtitle{
  width: 646px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
}


.stock-gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  margin-top: 98px;
  flex-wrap: wrap;
}

.stock-gallery img{
  width: 370px;
  height: 270px;
}

/* Features, Services Section */

.features, 
.services{
  padding: 80px 0;
  background-color: #fff;
  color: #000;
}

.features-heading, 
.services-heading{
  width: 821px;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  margin-bottom: 96px;
  text-align: center;
}

.features-list{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.services-list{
  display: flex;
  justify-content: space-between;
  width: 950px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.features-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.services-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
}

.features-item span,
.services-item span{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.services-prepay::before{
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-bottom: 47px;
  background-image: url(../img/prepay.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.services-lastpay::before{
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-bottom: 47px;
  background-image: url(../img/last-pay.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}
.services-ordertime::before{
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-bottom: 47px;
  background-image: url(../img/order-time.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.features-delivery::before{
  display: inline-block;
  width: 170px;
  height: 170px;
  margin-bottom: 38px;
  background-image: url(../img/features-delivery.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 5px solid #ffbc3b;
  content: "";
}

.features-toolbox::before{
  display: inline-block;
  width: 170px;
  height: 170px;
  margin-bottom: 38px;
  background-image: url(../img/features-toolbox.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 5px solid #ffbc3b;
  content: "";
}

.features-certificate::before{
  display: inline-block;
  width: 170px;
  height: 170px;
  margin-bottom: 38px;
  background-image: url(../img/features-certificate.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 5px solid #ffbc3b;
  content: "";
}

/* Consultation */

.consultation{
  background-color: #08243e;
  background-image: url(../img/consultation-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.consultation-content{
  padding-top: 80px;
  padding-bottom: 42px;
  text-align: center;
}

.counsultation-heading{
  font-size: 30px;
  line-height: 36px;
  margin-top: 17px;
  margin-bottom: 55px;
}

/* Map */

.map-link{
  display: block;
}

/* Site footer */

.site-footer{
  background-color: #000;
}

.site-footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-center{
  display: flex;
  align-items: center;
}

.footer-center span{
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.footer-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right span{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
}

.footer-right a{
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer-right a:hover{
  opacity: 0.6;
}


